.modal-wrapper,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  color: #252525;
}

.overlay {
  background: rgba(49, 49, 49, 0.2);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
}

.close-button span {
  display: flex;
  align-items: center;
  transform: scale(2);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 14px 28px 28px;
  border-radius: 3px;
}
