.radio-container {
  margin-bottom: 0.5rem;
  width: 400px;
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.radio-container label {
  display: flex;
  color: #5c5c5c;
  font-size: 0.8rem;
}

.radio-button {
  display: flex;
  margin-top: 5px;
  padding-left: 40px;
  gap: 5px;
}
