.upload-container {
  margin-bottom: 0.5rem;
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.upload-container {
  display: block;
  color: #5c5c5c;
  font-size: 0.8rem;
}

.upload-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
  border: 3px dotted #c9c9c9;
  border-radius: 2px;
  outline: none;
  color: #5c5c5c;
  transition: border-color 0.5s ease;
  gap: 5px;
}

.upload-area:hover {
  border-color: #5c5c5c;
}

.upload-area:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 244, 0.25);
}
